PORT=3001
NODE_ENV=development

SUPABASE_URL=https://kwbcbapabhjyuchvlift.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt3YmNiYXBhYmhqeXVjaHZsaWZ0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTE5NDk4NywiZXhwIjoyMDk2NzcwOTg3fQ.lkoACg9vVA9SwGTfEve82brx0LbPUmI0lrcjxKtkpx8

JWT_SECRET=altere-esta-chave-secreta-longa

ADMIN_FRONTEND_URL=http://localhost:5173
EVENTO_DATA=2026-07-04T09:00:00Z
TICKET_PRECO=1500
RESERVA_HORAS_ANTES=48
IBAN=AO06 0060.0130.0100.5890.7657.2
EXPRESS=926155070

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=noreply@jogosolidario.ao
